.idea/
.fleat/
.vscode/
.settings/
*.iml

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini

*.log

*.sqlite
*.db

*.war
*.jar
*.class
*.exe
*.exe~
*.out
*.o
*.so
*.ddl
*.dylib

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

target/
out/
build/

go.work
*.test
*.prof
vendor/
*.out

qtos-base/localdeploydir

example/udp-server-client/packages

!example/x11/ui/simcity-ui.jar

!packages/*.jar

localdeploydir/